.menuContainer {
    position: fixed;
    left: 0;
    width: 220px;
    height: 100vh;
    overflow-x: hidden;
    transition: width 0.3s ease;
    z-index: 1000;
    margin-top: -50px;

    .popupMenu {
        position: absolute;
        top: 50px;
        left: 0;
        background-color: var(--brand-primary);
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        width: 200px;
        height: calc(100% - 50px);
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
        z-index: 1000;
        animation: fadeSlideIn 0.3s ease forwards;

        .menuItem {
            display: flex;
            align-items: center;
            gap: 14px;
        }

        .icon {
            font-size: 1rem;
            color: var(--white);
        }
    }
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 50px;
    background-color: var(--brand-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    z-index: 1100;

    .leftSection,
    .rightSection {
        padding: 0 16px;
        display: flex;
        align-items: center;
        gap: 16px;
    }

    .leftSection {
        display: flex;
        align-items: center;
        gap: 16px;

        .title {
            margin: 0;
            font-size: 20px;
            text-transform: uppercase;
            color: var(--white);
        }
        .projectDropdown {
            position: relative;
            display: inline-block;
            .menuButton {
                margin-left: 80px;
                font-size: 20px;
            }
            .projectList {
                position: absolute;
                position: absolute;
                top: 98%;
                left: 74px;
                background-color: var(--white);
                border: 1px solid var(--grey-grey3);
                border-radius: 6px;
                box-shadow: 0 4px 10px rgba(149, 149, 149, 0.1);
                margin-top: 4px;
                z-index: 1001;
                min-width: 160px;
                padding: 6px 0;
                animation: fadeSlideIn 0.2s ease-out forwards;

                .projectItem {
                    padding: 8px 12px;
                    cursor: pointer;
                    transition: background-color 0.2s ease;

                    &:hover {
                        background-color: var(--grey-grey3);
                    }
                }
            }
        }
    }

    .rightSection {
        display: flex;
        align-items: center;
        gap: 8px;
        font-weight: 500;

        .userIcon {
            border-radius: 50%;
            width: 30px;
            height: 30px;
            object-fit: cover;
        }
        .createTaskButton {
            background-color: var(--brand-secondary-dark);
            font-weight: bold;
        }

        .searchContainer {
            display: flex;
            align-items: center;
            position: relative;
            gap: 8px;
            transition: all 0.3s ease;
            .searchButton {
                display: flex;
                align-items: center;
                gap: 4px;
                font-size: 14px;
                padding: 6px 12px;
                background-color: transparent;
                color: var(--white);
                border: 1px solid transparent;
                border-radius: 6px;
                cursor: pointer;
                transition: background-color 0.2s ease;

                svg {
                    font-size: 0.85rem;
                }

                &:hover {
                    background-color: rgba(255, 255, 255, 0.1);
                }
            }

            .searchInput {
                width: 160px;
                padding: 6px 10px;
                border-radius: 6px;
                border: 1px solid var(--grey-grey3);
                outline: none;
                font-size: 14px;
                transition: width 0.3s ease;
            }
        }
        .username {
            color: var(--white);
            margin: 0 16px 0 32px;
        }
    }
}
