.welcomeWrapper {
    position: fixed;
    inset: 0;
    background: var(--vanil-white);

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
    z-index: 0;

    .backgroundTaskText {
        position: relative;
        transform: translate(-50%, -50%);
        font-size: 6rem;
        font-weight: 900;
        color: var(--blue-blue1);
        margin: 100px 0 0 180px;
        opacity: 0.03;
        user-select: none;
        pointer-events: none;
        animation: floatTask 6s ease-in-out infinite;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        white-space: nowrap;
        text-align: center;
    }
    .welcome {
        position: relative;
        background-color: var(--white);
        padding: 40px 50px;
        border-radius: 20px;
        box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
        max-width: 850px;
        margin-left: 180px;
        margin-top: 100px;
        width: 90%;
        display: flex;
        align-items: center;
        gap: 30px;
        z-index: 1;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        .textBlock {
            flex: 1 1 300px;
            max-width: 1000px;

            .welcomeText {
                margin-bottom: 20px;
            }
            .startButton {
                margin-top: 20px;
            }
        }
        .imageWelcome {
            width: 340px;
        }
    }
}

@keyframes moveBall {
    0% {
        transform: translate(0, 0) scale(1);
        opacity: 0.7;
    }
    50% {
        transform: translate(20px, 20px) scale(1.2);
        opacity: 0.4;
    }
    100% {
        transform: translate(0, 0) scale(1);
        opacity: 0.7;
    }
}

@keyframes floatTask {
    0% {
        transform: translateY(0);
        opacity: 0.1;
    }
    50% {
        transform: translateY(-10px);
        opacity: 0.3;
    }
    100% {
        transform: translateY(0);
        opacity: 0.1;
    }
}
